.popup-overlay{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    display: none;
}

.popup-content {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    width: 350px;
}

.popup-body img {
    width: 100%;
    display: block;
    height: auto;
}

.popup-footer {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
}

.today-close {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.close-text-btn {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

.close-text-btn:hover {
    color: #4a90e2;
}